<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">FAQs</h3>
      <p class="page-subhead subhead">Use this elements, if you want to show some hints or additional information</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <app-collapse-item boxType="with-shadow" title="How I can manage my account?">
            <p>Breakfast agreeable incommode departure it an. By ignorant at on wondered relation. Enough at tastes
              really so cousin am of. Extensive therefore supported by extremity of contented. Is pursuit compact
              demesne invited elderly be. View him she roof tell her case has sigh. Moreover is possible he admitted
              sociable concerns. By in cold no less been sent hard hill.</p>
          </app-collapse-item>
          <app-collapse-item boxType="with-shadow" title="How much a annual subscribe costs?">
            <p>Breakfast agreeable incommode departure it an. By ignorant at on wondered relation. Enough at tastes
              really so cousin am of. Extensive therefore supported by extremity of contented. Is pursuit compact
              demesne invited elderly be. View him she roof tell her case has sigh. Moreover is possible he admitted
              sociable concerns. By in cold no less been sent hard hill.</p>
          </app-collapse-item>
          <app-collapse-item boxType="with-shadow" title="How to modify Admin Template UI?">
            <p>Breakfast agreeable incommode departure it an. By ignorant at on wondered relation. Enough at tastes
              really so cousin am of. Extensive therefore supported by extremity of contented. Is pursuit compact
              demesne invited elderly be. View him she roof tell her case has sigh. Moreover is possible he admitted
              sociable concerns. By in cold no less been sent hard hill.</p>
          </app-collapse-item>
          <app-collapse-item boxType="with-shadow" title="How to get support? How often can I get technical consultations?">
            <p>Breakfast agreeable incommode departure it an. By ignorant at on wondered relation. Enough at tastes
              really so cousin am of. Extensive therefore supported by extremity of contented. Is pursuit compact
              demesne invited elderly be. View him she roof tell her case has sigh. Moreover is possible he admitted
              sociable concerns. By in cold no less been sent hard hill.</p>
          </app-collapse-item>
        </div>
      </div>
    </div>
  </div>
</div>
