<div class="container" [ngClass]="{'dark-theme': !(isDarkTheme | async)}">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">Typography</h3>
      <h3 class="page-subhead subhead">Use this elements, if you want to show some hints or additional information</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Basic heading</h5>
            <h5 class="subhead">Use tags <span class="red-text">h1 to h6</span> for get necessary heading.</h5>
          </div>
          <div class="typography-card"><h1>H1 Type something </h1>
            <h2>H2 Type something </h2>
            <h3>H3 Type something </h3><h4>H4 Type something </h4><h5>H5 Type something </h5><h6>H6 Type something </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Heading with subheading</h5><h5 class="subhead">Use tags <span
            class="red-text">h1 to h6</span> with class<span class="red-text"> subhead</span></h5></div>
          <div class="typography-card">
            <div class="typography--inline"><h1>H1 Type something </h1>
              <h1 class="subhead">Subheading</h1></div>
            <div class="typography--inline"><h2>H2 Type something </h2>
              <h2 class="subhead">Subheading</h2></div>
            <div class="typography--inline"><h3>H3 Type something </h3>
              <h3 class="subhead">Subheading</h3></div>
            <div class="typography--inline"><h4>H4 Type something </h4><h4 class="subhead">Subheading</h4></div>
            <div class="typography--inline"><h5>H5 Type something </h5><h5 class="subhead">Subheading</h5></div>
            <div class="typography--inline"><h6>H6 Type something </h6><h6 class="subhead">Subheading</h6></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Bold heading</h5><h5 class="subhead">Use tags <span
            class="red-text">h1 to h6</span> with class<span class="red-text"> bold-text</span></h5></div>
          <div class="typography-card"><h1 class="bold-text">H1 Type something </h1>
            <h2 class="bold-text">H2 Type something </h2>
            <h3 class="bold-text">H3 Type something </h3><h4 class="bold-text">H4 Type something </h4><h5
              class="bold-text">H5 Type something </h5><h6 class="bold-text">H6 Type something </h6></div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Sample text</h5></div>
          <h4 class="bold-text">This is a sample heading for text part. </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper
            ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Nullam
            quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p></div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Sample text with description</h5></div>
          <h4 class="bold-text">This is a sample heading for text part. </h4><h4 class="subhead">Nullam quis risus eget
          urna mollis ornare vel eu leo. Cum sociis natoque penatibus.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper
            ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Nullam
            quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p></div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Default list</h5><h5 class="subhead">Use default <span
            class="red-text">ul</span></h5></div>
          <ul class="list">
            <li><p>Nulla tellus elit, varius non commodo eget</p></li>
            <li><p>Cum sociis natoque penatibus</p></li>
            <li><p>Curabitur bibendum ornare dolor</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Simple icon list</h5><h5 class="subhead">Use default ul with
            class <span class="red-text">icons-list</span></h5></div>
          <ul class="list list-icon">
            <li><p><span class="lnr lnr-checkmark-circle"></span>Nulla tellus elit, varius non commodo eget</p></li>
            <li><p><span class="lnr lnr-checkmark-circle"></span>Cum sociis natoque penatibus</p></li>
            <li><p><span class="lnr lnr-checkmark-circle"></span>Curabitur bibendum ornare dolor</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Simple green icon list</h5><h5 class="subhead">Use default ul with
            classes<span class="red-text">icons-list icons-list-green</span></h5></div>
          <ul class="list list-icon list-icon-green">
            <li><p><span class="lnr lnr-checkmark-circle"></span>Nulla tellus elit, varius non commodo eget</p></li>
            <li><p><span class="lnr lnr-checkmark-circle"></span>Cum sociis natoque penatibus</p></li>
            <li><p><span class="lnr lnr-checkmark-circle"></span>Curabitur bibendum ornare dolor</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Numerous list</h5><h5 class="subhead">Use default <span
            class="red-text">ol</span></h5></div>
          <ol class="list">
            <li><p>Nulla tellus elit, varius non commodo eget</p></li>
            <li><p>Cum sociis natoque penatibus</p></li>
            <li><p>Curabitur bibendum ornare dolor</p></li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Blockquote</h5><h5 class="subhead">Use default <span
            class="red-text">blockquote</span></h5></div>
          <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Highlight</h5><h5 class="subhead">Use span with class <span
            class="red-text">highlight</span></h5></div>
          <p>Nulla tellus elit, varius non <span class="highlight">commodo</span> eget, mattis vel eros. In sed ornare
            nulla. Nullam quis risuseget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
            parturient montes,nascetur ridiculus mus.</p></div>
      </div>
    </div>
  </div>
</div>
