@import "settings/variable";

.default-notification {
  &.simple-notification {

    border-radius: 0;

    .sn-content {
      font-size: 12px;
      line-height: 18px;
      color: var(--colorText)!important;
    }

    .sn-title {
      font-size: 14px;
      line-height: 18px;
      font-weight: bold;
      color: var(--colorText)!important;
    }

    &.success {
      background: var(--colorBackground);
    }
  }

}

.image-notification {
  &.simple-notification {
    padding: 0;

    .image {
      width: 106px;
      height: 106px;
      margin-right: 20px;
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    border-radius: 0;

    .sn-content {
      font-size: 12px;
      line-height: 18px;
      color: var(--colorText)!important;
    }

    .sn-title {
      font-size: 14px;
      line-height: 18px;
      font-weight: bold;
      color: var(--colorText)!important;
    }

    .sn-html {
      padding: 0!important;
    }

    &.bare {
      background: var(--colorBackground);
    }
  }

}

.colored-notifications {
  &.simple-notification {

    border-radius: 0;

    .sn-content {
      font-size: 12px;
      line-height: 18px;
      color: white!important;
    }

    .sn-title {
      font-size: 14px;
      line-height: 18px;
      font-weight: bold;
      color: white!important;
    }

    &.success {
      background: $color-accent;

      .sn-progress-loader span {
        background: $color-accent-hover;
      }
    }

    &.info {
      background: $color-blue;

      .sn-progress-loader span {
        background: $color-blue-hover;
      }
    }

    &.alert {
      background: $color-red;

      .sn-progress-loader span {
        background: $color-red-hover;
      }
    }

    &.warn {
      background: $color-yellow;

      .sn-progress-loader span {
        background: $color-yellow-hover;
      }
    }
  }
}

.large-colored-notifications {

  .simple-notification-wrapper {
    width: 100% !important;
  }
}
