.custom-scrollbar {

  &::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width:5px;
    height:0px
  }
    
  &::-webkit-scrollbar-track {
    background-color:var(--colorBorder);
  }
    
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: var(--colorScrollbar);
  }
    
    
  &::-webkit-resizer{
    background-repeat:no-repeat;
    width:4px;
    height:0px
  }
    
  &::-webkit-scrollbar{
    width: 4px;
  }
}