.not-found {
  text-align: center;
  height: 100vh;
  overflow: auto;
  display: flex;
  background: url("/assets/images/404/bg_404.png") no-repeat center;
  background-size: cover;

  button {
    margin: 0;
  }
}

.content {
  margin: auto;
  padding: 10px;
}

.not-found .info {
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 90px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.image {
  max-width: 500px;
  width: 100%;
}
