<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">Material Form</h3>
      <p class="page-subhead subhead">Use this elements, if you want to show some hints or additional information</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Animated line inputs forms</h5>
            <p class="subhead">Material design fields</p>
          </div>
          <form class="material-form" [formGroup]="MaterialForm" (ngSubmit)="onSubmit(MaterialForm)">
            <mat-form-field class="w-100" floatLabel="never">
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
            <mat-form-field class="w-100" floatLabel="never">
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="w-100" floatLabel="never">
              <input matInput placeholder="URL" formControlName="url">
            </mat-form-field>
            <mat-form-field class="w-100" floatLabel="never">
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            <mat-form-field class="w-100" floatLabel="never">
              <mat-label>Select Option</mat-label>
              <mat-select formControlName="select">
                <mat-option *ngFor="let item of selectSet" [value]="item.value">{{item.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100" floatLabel="never">
              <input matInput placeholder="Text Area" formControlName="textarea">
            </mat-form-field>
            <div role="toolbar" class="form__button-toolbar btn-toolbar">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-secondary" (click)="resetForm(MaterialForm)">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
