@import "settings/variable";

.compose-container {
  padding: 30px;

  .form {
    display: block;
  }

  .text-editor {
    margin-bottom: 20px;
  }

  .compose-title {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .attach-files {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .attachment-icon-container {
      min-width: 20px;
      display: flex;

      .mat-icon {
        width: 20px;
        height: 20px;
        font-size: 16px;
        color: var(--colorIcon);
        cursor: pointer;
      }

    }

    .btn-attach {
      margin-bottom: 0;
      font-weight: 700;
      padding: 5px 35px;
    }

    .attachment-clear {
      background: transparent;
      border: none;
      height: 20px;
      width: 20px;
      padding: 0;
      cursor: pointer;

      mat-icon {
        height: 15px;
        width: 15px;
        font-size: 15px;
        color: $color-additional;
        transition: all 0.3s;
      }

      &:hover {

        mat-icon {
          color: #BDDFFE;
        }
      }
    }

  }
}
