<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">{{titleModals}}</h3>
      <p class="page-subhead subhead">{{descriptionModals}}</p>
    </div>
  </div>
  <div class="row">
    <app-modal-panel title="Default Modals">
      <div class="modals-container">
        <app-modal title="Congratulations!"
                   message="Expect warmly its tended garden him esteem had remove off. Effects dearest staying now sixteen nor improve."
                   btn="Default"
                   color="primary">
        </app-modal>
        <app-modal title="Well Done!"
                   message="Expect warmly its tended garden him esteem had remove off. Effects dearest staying now sixteen nor improve."
                   btn="Success"
                   color="success">
        </app-modal>
        <app-modal title="Attention!"
                   message="Expect warmly its tended garden him esteem had remove off. Effects dearest staying now sixteen nor improve."
                   btn="Warning"
                   color="warning">
        </app-modal>
        <app-modal title="Stop!"
                   message="Expect warmly its tended garden him esteem had remove off. Effects dearest staying now sixteen nor improve."
                   btn="Danger"
                   color="danger">
        </app-modal>
      </div>
    </app-modal-panel>
    <app-modal-panel title="Colored Modals" description="Use default modal with property">
      <span class="red-text"> colored</span>
      <div class="modals-container">
        <app-modal title="Congratulations!"
                   message="Expect warmly its tended garden him esteem had remove off. Effects dearest staying now sixteen nor improve."
                   btn="Default"
                   color="primary"
                   colored="true">
        </app-modal>
        <app-modal title="Well Done!"
                   message="Expect warmly its tended garden him esteem had remove off. Effects dearest staying now sixteen nor improve."
                   btn="Success"
                   color="success"
                   colored="true">
        </app-modal>
        <app-modal title="Attention!"
                   message="Expect warmly its tended garden him esteem had remove off. Effects dearest staying now sixteen nor improve."
                   btn="Warning"
                   color="warning"
                   colored="true">
        </app-modal>
        <app-modal title="Stop!"
                   message="Expect warmly its tended garden him esteem had remove off. Effects dearest staying now sixteen nor improve."
                   btn="Danger"
                   color="danger"
                   colored="true">
        </app-modal>
      </div>
    </app-modal-panel>
    <app-modal-panel title="Header Modals" description="Use default modal with property">
      <span class="red-text"> header</span>
      <div class="modals-container">
        <app-modal title="Congratulations!"
                   message="Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal
                   brought minuter raising invited gay. Contented consisted continual curiosity contained get sex.
                   Forth child dried in in aware do. You had met they song how feel lain evil near. Small she
                   avoid six yet table china. And bed make say been then dine mrs. To household rapturous
                   fulfilled attempted on so."
                   btn="Default"
                   color="primary"
                   header="true">
        </app-modal>
        <app-modal title="Well Done!"
                   message="Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal
                   brought minuter raising invited gay. Contented consisted continual curiosity contained get sex.
                   Forth child dried in in aware do. You had met they song how feel lain evil near. Small she
                   avoid six yet table china. And bed make say been then dine mrs. To household rapturous
                   fulfilled attempted on so."
                   btn="Success"
                   color="success"
                   header="true">
        </app-modal>
        <app-modal title="Attention!"
                   message="Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal
                   brought minuter raising invited gay. Contented consisted continual curiosity contained get sex.
                   Forth child dried in in aware do. You had met they song how feel lain evil near. Small she
                   avoid six yet table china. And bed make say been then dine mrs. To household rapturous
                   fulfilled attempted on so."
                   btn="Warning"
                   color="warning"
                   header="true">
        </app-modal>
        <app-modal title="Stop!"
                   message="Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal
                   brought minuter raising invited gay. Contented consisted continual curiosity contained get sex.
                   Forth child dried in in aware do. You had met they song how feel lain evil near. Small she
                   avoid six yet table china. And bed make say been then dine mrs. To household rapturous
                   fulfilled attempted on so."
                   btn="Danger"
                   color="danger"
                   header="true">
        </app-modal>
      </div>
    </app-modal-panel>
  </div>
</div>
