<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">File upload</h3>
      <p class="page-subhead subhead">Use this elements, if you want to show some hints or additional information</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="card--not-full-height card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">File upload default</h5>
            <p class="subhead">For files upload</p>
          </div>
          <app-drop-zone></app-drop-zone>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card--not-full-height card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">File upload custom height</h5>
            <p class="subhead">For files upload, use property<span class="red-text"> customHeight="true"</span></p>
          </div>
          <app-drop-zone customHeight="true"></app-drop-zone>
        </div>
      </div>
    </div>
  </div>
</div>
