<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h5 class="bold-text">{{title}}</h5>
      <p class="subhead"><ng-content></ng-content></p>
    </div>
    <app-alert alertType="info" [alertTheme]="alertTheme" [withIcons]="withIcons">
      <span class="bold-text">Information:</span> Learning day desirous informed expenses material
        returned six the. She enabled invited exposed him another.
    </app-alert>
    <app-alert alertType="success" [alertTheme]="alertTheme" [withIcons]="withIcons">
      <span class="bold-text">Congratulations!</span> Learning day desirous informed expenses
        material returned six the. She enabled invited exposed him another.
    </app-alert>
    <app-alert alertType="warning" [alertTheme]="alertTheme" [withIcons]="withIcons">
      <span class="bold-text">Attention!</span> Learning day desirous informed
        expenses material returned six the. She enabled invited exposed him another.
    </app-alert>
    <app-alert alertType="danger" [alertTheme]="alertTheme" [withIcons]="withIcons">
      <span class="bold-text">Warning!</span> Learning day desirous informed expenses
        material returned six the. She enabled invited exposed him another.
    </app-alert>
  </div>
</div>
