<div class="container">
  <div class="row">
    <div class="col-md-12"><h3 class="page-title">Grids</h3>
      <p class="page-subhead subhead">Here is the examples of grids you can use in any component you need</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="grid card">
        <div class="card-body"><p>col-md-12</p></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-11">
      <div class="grid card">
        <div class="card-body"><p>col-md-11</p></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-1">
      <div class="grid card">
        <div class="card-body"><p class="grid-small">col-md-1</p></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-10">
      <div class="grid card">
        <div class="card-body"><p>col-md-10</p></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-2">
      <div class="grid card">
        <div class="card-body"><p class="grid-small">col-md-2</p></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <div class="grid card">
        <div class="card-body"><p>col-md-9</p></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="grid card">
        <div class="card-body"><p>col-md-3</p></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="grid card">
        <div class="card-body"><p>col-md-8</p></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="grid card">
        <div class="card-body"><p>col-md-4</p></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="grid card">
        <div class="card-body"><p>col-md-7</p></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5">
      <div class="grid card">
        <div class="card-body"><p>col-md-5</p></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="grid card">
        <div class="card-body"><p>col-md-6</p></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="grid card">
        <div class="card-body"><p>col-md-6</p></div>
      </div>
    </div>
  </div>
</div>
