@import "../../../../../../scss/settings/variable";

.photo-wrapper {
  width: 40px;
  height: 35px;
  text-align: center;
  padding: 2px;
  border: 1px solid var(--colorFieldsBorder);

  img {
    max-height: 100%;
  }
}

.products-list {
  .card-title {
    margin-bottom: 50px;
  }
}

.products-list__img-wrap {
  width: 40px;
  height: 35px;
  text-align: center;
  padding: 2px;

  border: 1px solid var(--colorFieldsBorder);

  img {
    max-height: 100%;
    width: auto;
  }
}

.products-list__btn-toolbar-top {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;

  @media screen and (max-width: 992px) {
    position: relative;
    margin-top: 10px;
  }
}

.products-list__btn-add {
  padding: 4px 25px;
  text-transform: none;
}

.products-list__search {
  margin: 0;
  position: relative;

  .mat-icon {
    position: absolute;
    right: 5px;
    top: 9px;
    color: $color-additional;
    height: 14px;
    width: 14px;
    font-size: 14px;
  }

  input {
    padding-right: 20px;
  }
}
