<!--<p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>-->
<ng-container *ngIf="(chatDetails$ | async) as chatDetails">
  <div class="chat-detailed">
    <div class="dialog-topbar">
      <button class="btn-chat-topbar hide" (click)="sidebarStateService.toggleSidebar()"><mat-icon>dehaze</mat-icon></button>
      <div class="dialog-contacts">
        <p class="topbar-name">{{chatDetails.name}}</p>
        <p class="topbar-post">{{chatDetails.post}}</p>
      </div>
      <div class="topbar-right-controls">
        <div class="topbar-controls">
          <button class="btn-chat-topbar"><mat-icon>videocam</mat-icon></button>
          <button class="btn-chat-topbar"><mat-icon>phone</mat-icon></button>
          <button class="btn-chat-topbar"><mat-icon>star</mat-icon></button>
        </div>
        <button class="btn-chat-topbar"><mat-icon>more_horiz</mat-icon></button>
      </div>
    </div>
    <perfect-scrollbar style="height: calc(100vh - 110px);">
      <div class="dialog-messages-wrapper">
          <div class="dialog-messages">

            <ng-container *ngIf="chatDetails.messages.length; else nomessages">
              <ng-container *ngFor="let item of chatDetails.messages;">
                <div class="chat-bubble" [ngClass]="{'active' : item.userName === currentUser.userName}">
                  <div class="chat-bubble-avatar">
                    <img [src]="item.userName === currentUser.userName ? currentUser.avatar : chatDetails.avatar" alt="ava">
                  </div>
                  <div class="chat-bubble-message-wrap" [ngClass]="{'file': item.file}">
                    <p class="chat-bubble-contact-name">
                      {{ item.userName === currentUser.userName ? currentUser.name : chatDetails.name }}
                    </p>
                    <p class="chat-bubble-date">{{item.date | date: 'shortTime'}}</p>
                    <ng-container *ngIf="item.file; else nofile">
                      <img [src]="item.file.preview" alt="Sales statistic.png">
                      <div class="chat-bubble-download-wrap">
                        <p class="chat-bubble-file-name"><span>{{item.message}}</span><span>{{item.file.size}}</span>
                        </p>
                        <a class="chat-bubble-download" [attr.href]="item.file.preview" download="">Download</a>
                      </div>
                    </ng-container>
                    <ng-template #nofile>
                      <p class="chat-bubble-message">{{item.message}}</p>
                    </ng-template>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <ng-template #nomessages>
              <div class="chat-dialog-messages-empty">
                <p>No messages</p>
              </div>
            </ng-template>

          </div>
      </div>
    </perfect-scrollbar>
    <div class="type-message">
      <form class="chat-form">
        <input name="chat-field" placeholder="Type here…" type="text" class="chat-field-input form-control">
        <div class="chat-field-controls">
          <button type="button" class="chat-icon-button"><mat-icon>mood</mat-icon></button>
          <button type="button" class="chat-icon-button"><mat-icon>attach_file</mat-icon></button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
