<div class="container">
  <div class="row">
    <div class="col-md-12"><h3 class="page-title">ChartJS 2</h3>
      <h3 class="page-subhead subhead">Use this elements, if you want to show some hints or additional information</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Point sizes</h5>
          </div>
            <app-point-sizes></app-point-sizes>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Random animated line</h5>
          </div>
          <app-random-line></app-random-line>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Random animated bars</h5>
          </div>
          <app-random-bar></app-random-bar>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Polar area</h5>
          </div>
          <app-polar-area></app-polar-area>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Dynamically refreshed doughnut</h5>
          </div>
          <app-doughnut></app-doughnut>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Legend handlers</h5>
          </div>
          <app-legends-handler></app-legends-handler>
        </div>
      </div>
    </div>
  </div>
</div>
