<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">Tabs</h3>
      <p class="page-subhead subhead">Use this elements, if you want to show some hints or additional information</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Default tabs</h5>
            <p class="subhead">Use default tabs</p>
          </div>
          <div class="tabs">
            <div class="tabs-wrap">
              <tabset>
                <tab heading="Sales">
                  <p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy
                  you numerous securing.</p>
                </tab>
                <tab heading="Statistic"><p>Direction has strangers now believing. Respect enjoyed gay far exposed
                  parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together
                  unlocked do by.</p>
                </tab>
                <tab heading="Offers"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by.</p>
                </tab>
                <tab heading="Refounds"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by. Article concern joy anxious did picture sir her.</p>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Default tabs bordered top</h5>
            <p class="subhead">Pass <span class="red-text">bordered-top</span> as customClass to tab component</p>
          </div>
          <div class="tabs">
            <div class="tabs-wrap">
              <tabset>
                <tab heading="Sales" customClass="bordered-top">
                  <p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                    towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                    by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy
                    you numerous securing.</p>
                </tab>
                <tab heading="Statistic" customClass="bordered-top"><p>Direction has strangers now believing. Respect enjoyed gay far exposed
                  parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together
                  unlocked do by.</p>
                </tab>
                <tab heading="Offers" customClass="bordered-top"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by.</p>
                </tab>
                <tab heading="Refounds" customClass="bordered-top"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by. Article concern joy anxious did picture sir her.</p>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Justify tabs</h5>
            <p class="subhead">Use default tabs passing <span class="red-text">[justified]="true"</span> to tabseet component</p>
          </div>
          <div class="tabs">
            <div class="tabs-wrap">
              <tabset [justified]="true">
                <tab heading="Sales">
                  <p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                    towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                    by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy
                    you numerous securing.</p>
                </tab>
                <tab heading="Statistic"><p>Direction has strangers now believing. Respect enjoyed gay far exposed
                  parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together
                  unlocked do by.</p>
                </tab>
                <tab heading="Offers"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by.</p>
                </tab>
                <tab heading="Refounds"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by. Article concern joy anxious did picture sir her.</p>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Justify tabs bordered top</h5>
            <p class="subhead">Use justified tabs passing <span class="red-text">bordered-top</span> as customClass to tab component</p>
          </div>
          <div class="tabs">
            <div class="tabs-wrap">
              <tabset [justified]="true">
                <tab heading="Sales" customClass="bordered-top">
                  <p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                    towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                    by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy
                    you numerous securing.</p>
                </tab>
                <tab heading="Statistic" customClass="bordered-top"><p>Direction has strangers now believing. Respect enjoyed gay far exposed
                  parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together
                  unlocked do by.</p>
                </tab>
                <tab heading="Offers" customClass="bordered-top"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by.</p>
                </tab>
                <tab heading="Refounds" customClass="bordered-top"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by. Article concern joy anxious did picture sir her.</p>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Tabs bordered bottom</h5>
            <p class="subhead">Pass <span class="red-text">bordered-bottom</span> as customClass to tab component</p>
          </div>
          <div class="tabs">
            <div class="tabs-wrap">
              <tabset>
                <tab heading="Sales" customClass="bordered-bottom">
                  <p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                    towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                    by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy
                    you numerous securing.</p>
                </tab>
                <tab heading="Statistic" customClass="bordered-bottom"><p>Direction has strangers now believing. Respect enjoyed gay far exposed
                  parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together
                  unlocked do by.</p>
                </tab>
                <tab heading="Offers" customClass="bordered-bottom"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by.</p>
                </tab>
                <tab heading="Refounds" customClass="bordered-bottom"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by. Article concern joy anxious did picture sir her.</p>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Justify tabs bordered bottom</h5>
            <p class="subhead">Use justified tabs passing <span class="red-text">bordered-bottom</span> as customClass to tab component</p>
          </div>
          <div class="tabs">
            <div class="tabs-wrap">
              <tabset [justified]="true">
                <tab heading="Sales" customClass="bordered-bottom">
                  <p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                    towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                    by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy
                    you numerous securing.</p>
                </tab>
                <tab heading="Statistic" customClass="bordered-bottom"><p>Direction has strangers now believing. Respect enjoyed gay far exposed
                  parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together
                  unlocked do by.</p>
                </tab>
                <tab heading="Offers" customClass="bordered-bottom"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by.</p>
                </tab>
                <tab heading="Refounds" customClass="bordered-bottom"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by. Article concern joy anxious did picture sir her.</p>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Vertical tabs</h5>
            <p class="subhead">Use default tabs with class <span class="red-text">tabs-vertical</span> and pass
              <span class="red-text">[vertical]="true"</span> to tabset component</p>
          </div>
          <div class="tabs tabs-vertical">
            <div class="tabs-wrap">
              <tabset [vertical]="true">
                <tab heading="Sales">
                  <p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                    towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                    by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy
                    you numerous securing.</p>
                </tab>
                <tab heading="Statistic"><p>Direction has strangers now believing. Respect enjoyed gay far exposed
                  parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together
                  unlocked do by.</p>
                </tab>
                <tab heading="Offers"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by.</p>
                </tab>
                <tab heading="Refounds"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by. Article concern joy anxious did picture sir her.</p>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Vertical colored tabs</h5>
            <p class="subhead">Use default tabs with classes <span class="red-text">tabs-vertical, tabs-vertical-colored</span> and pass
              <span class="red-text">[vertical]="true"</span> to tabset component</p>
          </div>
          <div class="tabs tabs-vertical tabs-vertical-colored">
            <div class="tabs-wrap">
              <tabset [vertical]="true">
                <tab heading="Sales">
                  <p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                    towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                    by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy
                    you numerous securing.</p>
                </tab>
                <tab heading="Statistic"><p>Direction has strangers now believing. Respect enjoyed gay far exposed
                  parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together
                  unlocked do by.</p>
                </tab>
                <tab heading="Offers"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by.</p>
                </tab>
                <tab heading="Refounds"><p>Direction has strangers now believing. Respect enjoyed gay far exposed parlors
                  towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do
                  by. Article concern joy anxious did picture sir her.</p>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
