<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">Editable table</h3>
      <p class="page-subhead subhead">Use this elements, if you want to show some hints or additional information</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Editable table</h5>
            <p class="subhead">Here is the example of editable table</p>
          </div>
          <div class="responsive-table">
            <form [formGroup]="form">
              <table mat-table [dataSource]="dataSource" formArrayName="agents">

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> # </th>
                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
                    <input class="editable-input" type="text" formControlName="position" placeholder="">
                  </td>
                </ng-container>

                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef> First Name </th>
                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
                    <input class="editable-input" type="text" formControlName="firstName" placeholder="">
                  </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                  <th mat-header-cell *matHeaderCellDef> Last Name </th>
                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
                    <input class="editable-input" type="text" formControlName="lastName" placeholder="">
                  </td>
                </ng-container>

                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef> Username </th>
                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
                    <input class="editable-input" type="text" formControlName="username" placeholder="">
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
                    <input class="editable-input" type="text" formControlName="status" placeholder="">
                  </td>
                </ng-container>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
