<main>
  <div class="landing">
    <div class="landing__menu">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="landing__menu-wrap"><p class="landing__menu-logo">
              <img [src]="imageResoures.logo" alt=""></p>
              <nav class="landing__menu-nav">
                <a class="landing__menu-nav-link" pageScroll href="#section-about">About ngEasyDEV</a>
                <a class="landing__menu-nav-link" pageScroll href="#section-features">Features</a>
                <a class="landing__menu-nav-link" pageScroll href="#section-demo">Demos</a>
                <a class="landing__menu-nav-link" pageScroll href="#section-feature-request">Feature request <span class="landing__menu-nav-new"></span></a>
                <a class="landing__btn"
                   target="_blank"
                   rel="noopener noreferrer"
                   href="https://themeforest.net/item/easydevng-developer-friendly-angular-8-bs4-admin-template-seed-project/24070556">Buy now for $28</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing__header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="landing__header-title">The best documented and cleanest coded<b> Angular
            Bootstrap 4</b> Admin Template <br />+ <b>Seed Project</b> Inside!</h2>
            <p class="landing__header-subhead">We guarantee you will always get the actual version of the template with
              a bunch of <a class="landing__header-subhead-update" target="_blank"
                            routerLink="/documentation/changelog">freshest updates</a>.</p>
            <a class="landing__btn landing__btn--header" target="_blank" routerLink="/documentation/introduction">Check
              out the docs</a>
            <a pageScroll class="landing__btn landing__btn--header" href="#section-demo">Go to demo</a>
            <img class="landing__header-img" [src]="imageResoures.headerImg" alt="macbook"></div>
        </div>
      </div>
    </div>
    <span></span>
    <section id="section-about" class="landing__section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="landing__section-title">the ngEasydev based on popular and powerful
            technological stack. That’s why it allows you to create massive and serious projects easily.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3 offset-md-3">
            <div class="landing__technology">
              <div class="landing__technology-img-wrap">
                <img class="landing__technology-img" [src]="imageResoures.technologyImg" alt="react">
              </div>
              <p class="landing__technology-title">Angular Based App</p></div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="landing__technology">
              <div class="landing__technology-img-wrap">
                <img class="landing__technology-img technology-img-bootstrap"
                     [src]="imageResoures.bootstrapStackImg"
                     alt="bootstrap">
              </div>
              <p class="landing__technology-title">Bootstrap 4 framework</p></div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-4 col-md-2 offset-md-2">
            <div class="landing__technology landing__technology--small">
              <div class="landing__technology-img-wrap"><img class="landing__technology-img router-img"
                                                             [src]="imageResoures.routerImg" alt="router">
              </div>
              <p class="landing__technology-title">Angular Router</p></div>
          </div>

          <div class="col-6 col-sm-4 col-md-2 offset-md-1">
            <div class="landing__technology landing__technology--small">
              <div class="landing__technology-img-wrap">
                <img class="landing__technology-img" [src]="imageResoures.sassImg" alt="sass"></div>
              <p class="landing__technology-title">SCSS Preprocessor</p></div>
          </div>

          <div class="col-6 offset-3 col-sm-4 offset-sm-0 col-md-2 offset-md-1">
            <div class="landing__technology landing__technology--small">
              <div class="landing__technology-img-wrap">
                <img class="landing__technology-img" [src]="imageResoures.reactiveFormImg"
                     alt="redux_form"></div>
              <p class="landing__technology-title">Redux Form</p></div>
          </div>
        </div>
      </div>
    </section>
    <div class="landing__feedback">
      <div class="container">
        <div class="row">
          <div class="col-md-12"><h2 class="landing__feedback-title"><b>Hey guys!</b></h2>
            <p class="landing__feedback-subhead">We are glad to offer you the ngEasydev customization from light
              modernization to a super-custom development according to your project. Please, contact us via <b>biz@aspirity.com</b>
              to discuss our work or just press the button below.</p>
            <div class="landing__feedback-form"><a class="landing__btn landing__btn--feedback"
                                                   href="https://www.aspirity.com/contact-us"
                                                   rel="noopener noreferrer" target="_blank">Let's work!</a></div>
            <img class="landing__feedback-design-img" [src]="imageResoures.designeCodeImg" alt="design and code"><img
              class="landing__feedback-macbook-img" [src]="imageResoures.feedbackImg" alt="macbook"></div>
        </div>
      </div>
    </div>
    <section class="landing__section">
      <img class="landing__section-background landing__section-background--technologies" [src]="imageResoures.rightBgImg" alt="bg image">
      <div class="container">
        <div class="landing__code landing__code--first landing__code--left row">
          <div class="col-12 col-sm-12 col-md-6">
            <div class="landing__code-text">
              <div class="landing__code-wrap"><h3 class="landing__section-title">Fully Responsive</h3>
                <p class="landing__section-description">You can use the ngEasydev on all devices - it'll look great
                  everywhere!</p>
                <p class="landing__section-description">Lazy loading allows your device to display the graphic content
                  softly and correctly</p></div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <div class="landing__code-img landing__code-img--no-shadow">
              <div class="landing__code-wrap">
                <img class="landing__img landing__img--over" [src]="imageResoures.adminBookImg" alt=""></div>
            </div>
          </div>
        </div>
        <div class="landing__code landing__code--right row">
          <div class="col-12 col-sm-12 col-md-6">
            <div class="landing__code-text">
              <div class="landing__code-wrap"><h3 class="landing__section-title">Clean and Professional Code</h3>
                <p class="landing__section-description">We have created a quality product that will be convenient for
                  developers to use. The main advantage is a clean, correct and easy to understand code.</p>
                <p class="landing__section-description">React framework allows you to create a component architecture,
                  get the best productivity and render changes automatically.</p></div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <div class="landing__code-img landing__code-img--no-shadow">
              <div class="landing__code-wrap">
                <img class="landing__img landing__img--over-right" [src]="imageResoures.codeExample" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <span></span>
    <section id="section-features" class="landing__section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="landing__section-title">Key features</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="landing__features-wrap">
              <div class="landing__feature">
                <div class="landing__feature-img-wrap">
                  <img [src]="imageResoures.feature01Img" alt="">
                </div>
                <p class="landing__feature-title">Angular App</p>
                <p class="landing__feature-caption">The most famous framework for building user interfaces</p></div>
              <div class="landing__feature">
                <div class="landing__feature-img-wrap">
                  <img [src]="imageResoures.feature05Img" alt="">
                </div>
                <p class="landing__feature-title">Seed Project inside</p>
                <p class="landing__feature-caption">The base allows you to start your project easily</p></div>
              <div class="landing__feature">
                <div class="landing__feature-img-wrap">
                  <img [src]="imageResoures.feature02Img" alt=""></div>
                <p class="landing__feature-title">Angular Reactive Forms</p>
                <p class="landing__feature-caption">It helps you write apps that behave consistently</p></div>
              <div class="landing__feature">
                <div class="landing__feature-img-wrap">
                  <img [src]="imageResoures.feature07Img" alt=""></div>
                <p class="landing__feature-title">Form Validation</p>
                <p class="landing__feature-caption">Allows you to be sure in correct user input</p></div>
              <div class="landing__feature">
                <div class="landing__feature-img-wrap">
                  <img [src]="imageResoures.feature08Img" alt="">
                </div>
                <p class="landing__feature-title">Angular Lazy Loading</p>
                <p class="landing__feature-caption">Helps keep initial bundle sizes smaller and decreases load times.</p></div>
              <div class="landing__feature">
                <div class="landing__feature-img-wrap">
                  <img [src]="imageResoures.feature03Img" alt="">
                </div>
                <p class="landing__feature-title">Editable Tables</p>
                <p class="landing__feature-caption">It allows you to edit table content in real time</p></div>
              <div class="landing__feature">
                <div class="landing__feature-img-wrap">
                  <img [src]="imageResoures.feature04Img" alt="">
                </div>
                <p class="landing__feature-title">Multilanguage</p>
                <p class="landing__feature-caption">Create multilanguage services easily</p>
              </div>
              <div class="landing__feature">
                <div class="landing__feature-img-wrap">
                  <img [src]="imageResoures.feature06Img" alt="">
                </div>
                <p class="landing__feature-title">Full Documentation</p>
                <p class="landing__feature-caption">Find the answers how to work with the ngEasydev</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><h4 class="landing__additional-title">… and more</h4></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="landing__features-wrap landing__features-wrap--more">
              <p class="landing__feature-more"><mat-icon>done</mat-icon>Dark &amp; Light Layouts</p>
              <p class="landing__feature-more"><mat-icon>done</mat-icon>Helpful Documentation</p>
              <p class="landing__feature-more"><mat-icon>done</mat-icon>Chat App</p>
              <p class="landing__feature-more"><mat-icon>done</mat-icon>Easy to Customize</p>
              <p class="landing__feature-more"><mat-icon>done</mat-icon>Fully Responsive</p>
              <p class="landing__feature-more"><mat-icon>done</mat-icon>Calendar</p>
              <p class="landing__feature-more"><mat-icon>done</mat-icon>200+ UI Elements</p>
              <p class="landing__feature-more"><mat-icon>done</mat-icon>Sass Prepros</p>
              <p class="landing__feature-more"><mat-icon>done</mat-icon>Email App</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <span></span>
    <section id="section-demo" class="landing__section landing__section--demos"><img
      class="landing__section-background landing__section-background--demos" [src]="imageResoures.leftBgImg" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12"><h3 class="landing__section-title">ngEasyDEV Demos</h3></div>
        </div>
        <div class="landing__demo-wrap row">
          <div class="col-lg-8"><a class="landing__demo" routerLink="/dashboard_mobile_app">
            <div class="landing__demo-img-wrap"><img [src]="mobileApp" alt=""></div>
          </a></div>
          <div class="landing__demo-theme-toggle col-lg-4"><p class="landing__demo-title landing__demo-title--new">
            Dashboard Mobile App</p>
            <div class="landing__demo-toggle-wrap"><span>Light</span>
              <label class="toggle-label">
                <input
                  class="visually-hidden"
                  type="checkbox"
                  name="sidebar-toggle"
                  [ngModel]="darkThemeState"
                  (change)="changeToDark($event.target.checked)"
                />
                <span class="slider"></span>
              </label>
              <span>Dark</span></div>
          </div>
        </div>
        <div class="landing__demo-wrap row">
          <div class="col-lg-8"><a class="landing__demo" routerLink="/dashboard_booking">
            <div class="landing__demo-img-wrap"><img [src]="booking" alt=""></div>
          </a></div>
          <div class="landing__demo-theme-toggle col-lg-4"><p class="landing__demo-title landing__demo-title--new">
            Booking Dashboard</p>
            <div class="landing__demo-toggle-wrap"><span>Light</span>
              <label class="toggle-label">
                <input
                  class="visually-hidden"
                  type="checkbox"
                  name="sidebar-toggle"
                  [ngModel]="darkThemeState"
                  (change)="changeToDark($event.target.checked)"
                />
                <span class="slider"></span>
              </label>
              <span>Dark</span></div>
          </div>
        </div>
        <div class="landing__demo-wrap row">
          <div class="col-lg-8"><a class="landing__demo" routerLink="/dashboard_crypto">
            <div class="landing__demo-img-wrap"><img [src]="crypto" alt=""></div>
          </a></div>
          <div class="landing__demo-theme-toggle col-lg-4"><p class="landing__demo-title">Crypto Dashboard</p>
            <div class="landing__demo-toggle-wrap"><span>Light</span>
              <label class="toggle-label">
                <input
                  class="visually-hidden"
                  type="checkbox"
                  name="sidebar-toggle"
                  [ngModel]="darkThemeState"
                  (change)="changeToDark($event.target.checked)"
                />
                <span class="slider"></span>
              </label>
              <span>Dark</span></div>
          </div>
        </div>
        <div class="landing__demo-wrap row">
          <div class="col-lg-8"><a class="landing__demo" routerLink="/dashboard_ecommerce">
            <div class="landing__demo-img-wrap"><img [src]="eCommerce" alt=""></div>
          </a></div>
          <div class="landing__demo-theme-toggle col-lg-4"><p class="landing__demo-title">E-commerce Dashboard</p>
            <div class="landing__demo-toggle-wrap"><span>Light</span>
              <label class="toggle-label">
                <input
                  class="visually-hidden"
                  type="checkbox"
                  name="sidebar-toggle"
                  [ngModel]="darkThemeState"
                  (change)="changeToDark($event.target.checked)"
                />
                <span class="slider"></span>
              </label>
              <span>Dark</span></div>
          </div>
        </div>
        <div class="landing__demo-wrap row">
          <div class="col-lg-8"><a class="landing__demo" routerLink="/dashboard_default">
            <div class="landing__demo-img-wrap"><img [src]="analytics" alt=""></div>
          </a></div>
          <div class="landing__demo-theme-toggle col-lg-4"><p class="landing__demo-title">Analytics Dashboard</p>
            <div class="landing__demo-toggle-wrap"><span>Light</span>
              <label class="toggle-label">
                <input
                  class="visually-hidden"
                  type="checkbox"
                  name="sidebar-toggle"
                  [ngModel]="darkThemeState"
                  (change)="changeToDark($event.target.checked)"
                />
                <span class="slider"></span>
              </label>
              <span>Dark</span></div>
          </div>
        </div>
        <div class="landing__demo-wrap row">
          <div class="col-lg-8"><a class="landing__demo" routerLink="/dashboard_fitness">
            <div class="landing__demo-img-wrap"><img [src]="fitness" alt=""></div>
          </a></div>
          <div class="landing__demo-theme-toggle col-lg-4"><p class="landing__demo-title">Fitness Dashboard</p>
            <div class="landing__demo-toggle-wrap"><span>Light</span>
              <label class="toggle-label">
                <input
                  class="visually-hidden"
                  type="checkbox"
                  name="sidebar-toggle"
                  [ngModel]="darkThemeState"
                  (change)="changeToDark($event.target.checked)"
                />
                <span class="slider"></span>
              </label>
              <span>Dark</span></div>
          </div>
        </div>
      </div>
    </section>
    <section class="landing__section landing__section--applications applications">
      <img class="applications__decor applications__decor--points-lg" [src]="imageResoures.pointsLgImg"
      alt="decoration">
      <img class="applications__decor applications__decor--points-md"
                            [src]="imageResoures.pointsMdImg" alt="decoration">
      <img class="applications__decor applications__decor--points-sm" [src]="imageResoures.pointsSmImg"
      alt="decoration"><img class="applications__decor applications__decor--sin-lg" [src]="imageResoures.sinLgImg"
                            alt="decoration">
      <img class="applications__decor applications__decor--sin-md" [src]="imageResoures.sinMdImg" alt="decoration">
      <h3 class="landing__section-title landing__applications-title">Applications</h3>
      <h4 class="container landing__additional-title landing__applications-description">
        With the help of components and layouts, we created four different applications. They are a good way to get you started if you want to build something similar.
      </h4>
      <div class="applications__slider container">
        <div>
          <input id="e-mail"
                 class="visually-hidden"
                 type="radio"
                 (click)="handleSliderToggle($event)"
                 name="landing-slider" value="email">
          <label class="applications__slider-btn" for="e-mail">E-mail</label>
        </div>
        <div>
          <input id="calendar"
                 class="visually-hidden"
                 type="radio"
                 (click)="handleSliderToggle($event)"
                 name="landing-slider" value="calendar" checked>
          <label class="applications__slider-btn" for="calendar">Calendar</label>
        </div>
        <div>
          <input id="chat"
                 class="visually-hidden"
                 type="radio"
                 (click)="handleSliderToggle($event)"
                 name="landing-slider" value="chat">
          <label class="applications__slider-btn" for="chat">Chat</label>
        </div>
        <div class="to-do-app-btn">
          <input id="to-do"
                 class="visually-hidden"
                 type="radio"
                 (click)="handleSliderToggle($event)"
                 name="landing-slider" value="todo">
          <label class="applications__slider-btn" for="to-do">To Do</label>
        </div>
      </div>
      <div class="applications__slider-body container">
        <img class="applications__decor applications__decor--plus-lg" [src]="imageResoures.plusLgImg" alt="decoration">
        <img class="applications__decor applications__decor--plus-md" [src]="imageResoures.plusMdImg" alt="decoration">
        <img class="applications__decor applications__decor--plus-sm" [src]="imageResoures.plusSmImg" alt="decoration">
        <img class="applications__decor applications__decor--point" [src]="imageResoures.pointImg" alt="decoration">
        <a [routerLink]="sliderInfo.route"><img class="applications__slider-body-img" [src]="sliderInfo.img" alt="application"></a>
        <p class="applications__slider-body-caption">{{sliderInfo.description}}</p>
      </div>
    </section>
    <span></span>
    <section id="section-feature-request" class="landing__section section-feature-request">
      <div class="container">
        <div class="row">
          <div class="col-md-12"><h3 class="landing__section-title">Feature request</h3></div>
        </div>
        <div class="row">
          <div class="col-md-12"><p class="landing__request">We want to make the ngEasydev better and we appreciate your
            feedback. If you have any features suggestions,
            please, request it and we'll try to implement them</p>
            <div class="landing__center-btn">
              <a class="landing__btn"
                 href="https://aspiritythemes.typeform.com/to/MrjOAR" target="_blank"
                 rel="noopener noreferrer">Request features</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="landing__section get-ngeasydev">
      <div class="container">
        <div class="row">
          <div class="col-md-12"><h3 class="landing__section-title">Get the <b>ngEasyDEV Angular Bootstrap 4 Admin
            Template</b> only for $28 and save your time and nerves</h3>
            <div class="landing__center-btn">
              <a class="landing__btn landing__btn--gradient" target="_blank"
              rel="noopener noreferrer"
              href="https://themeforest.net/item/easydevng-developer-friendly-angular-8-bs4-admin-template-seed-project/24070556">Purchase now for $28
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="landing__footer">
      <img class="landing__footer-background" [src]="imageResoures.footerImg" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="landing__footer-text">Made with love and tons of coffee in<b><a
            href="http://themes.aspirity.com/"> Aspirity Studio</a></b></p></div>
        </div>
      </div>
    </footer>
  </div>
</main>
