<div class="container">
  <div class="row">
    <div class="col-md-12"><h3 class="page-title">Tooltips &amp; Popovers</h3>
      <p class="page-subhead subhead">Use this elements, if you want to show some hints or additional information</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Tooltip on top</h5>
            <p class="subhead">Use default tooltip with placement <span class="red-text">top</span></p>
          </div>
          <div role="toolbar" class="btn-toolbar--center btn-toolbar">
            <button class="btn btn-outline-secondary"
                    tooltip="Do you like dragons?">Tooltip on Top</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Tooltip on bottom</h5>
            <p class="subhead">Use default tooltip with placement <span class="red-text">bottom</span></p>
          </div>
          <div role="toolbar" class="btn-toolbar--center btn-toolbar">
            <button class="btn btn-outline-secondary"
                    tooltip="Do you like dragons?"
                    placement="bottom">Tooltip on Bottom</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Tooltip on right</h5>
            <p class="subhead">Use default tooltip with placement <span class="red-text">right</span></p>
          </div>
          <div role="toolbar" class="btn-toolbar--center btn-toolbar">
            <button class="btn btn-outline-secondary"
                    tooltip="Do you like dragons?"
                    placement="right">Tooltip on Right</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Tooltip on left</h5>
            <p class="subhead">Use default tooltip with placement <span class="red-text">left</span></p>
          </div>
          <div role="toolbar" class="btn-toolbar--center btn-toolbar">
            <button class="btn btn-outline-secondary"
                    tooltip="Do you like dragons?"
                    placement="left">Tooltip on Left</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Popover on top</h5>
            <p class="subhead">Use popover with placement <span class="red-text">top</span></p>
          </div>
          <div role="toolbar" class="btn-toolbar--center btn-toolbar">
            <button type="button" id="PopoverTop" class="btn btn-outline-secondary"
                    popover="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum."
                    popoverTitle="Popover on Top"
                    placement="top">Popover on Top</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Popover on bottom</h5><p class="subhead">Use popover with placement <span class="red-text">bottom</span></p>
          </div>
          <div role="toolbar" class="btn-toolbar--center btn-toolbar">
            <button type="button" id="PopoverBottom" class="btn btn-outline-secondary"
                    popover="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum."
                    popoverTitle="Popover on Bottom"
                    placement="bottom">Popover on Bottom</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Popover on right</h5><p class="subhead">Use popover with placement <span class="red-text">right</span></p></div>
          <div role="toolbar" class="btn-toolbar--center btn-toolbar">
            <button type="button" id="PopoverRight" class="btn btn-outline-secondary"
                    popover="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum."
                    popoverTitle="Popover on Right"
                    placement="right">Popover on Right</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h5 class="bold-text">Popover on left</h5><p class="subhead">Use popover with
            placement <span class="red-text">left</span></p></div>
          <div role="toolbar" class="btn-toolbar--center btn-toolbar">
            <button type="button" id="PopoverLeft" class="btn btn-outline-secondary"
                    popover="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum."
                    popoverTitle="Popover on Left"
                    placement="left">Popover on Left</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
