<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">Timeline</h3>
      <p class="page-subhead subhead">This interface let you to see your activity history</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-icon work"><span class="lnr lnr-briefcase"></span></div>
          <div class="timeline-content">
            <h5 class="timeline-title">Business meetup</h5>
            <p class="subhead timeline-date">3 hours ago</p>
            <p>Dependent certainty off discovery him his tolerably offending. Ham for attention remainder sometimes
              additions recommend fat our.</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon video"><span class="lnr lnr-film-play"></span></div>
          <div class="timeline-content"><h5 class="timeline-title">Video conference with client</h5>
            <p class="subhead timeline-date">5 hours ago</p>
            <p>Dependent certainty off discovery him his tolerably offending. Ham for attention remainder sometimes
              additions recommend fat our.</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon"><img [src]="avatarImg1" alt="img"></div>
          <div class="timeline-content"><h5 class="timeline-title">Call to Jovanna</h5>
            <p class="subhead timeline-date">8 hours ago</p>
            <p>Dependent certainty off discovery him his tolerably offending. Ham for attention remainder sometimes
              additions recommend fat our.</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon file"><span class="lnr lnr-file-add"></span></div>
          <div class="timeline-content"><h5 class="timeline-title">Create offer. Prepare document</h5>
            <p class="subhead timeline-date">Yesterday at 18:30</p>
            <p>Dependent certainty off discovery him his tolerably offending. Ham for attention remainder sometimes
              additions recommend fat our.</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon"><img [src]="avatarImg2" alt="img"></div>
          <div class="timeline-content"><h5 class="timeline-title">Conversation with Philip</h5>
            <p class="subhead timeline-date">21.03.2017</p>
            <p>Dependent certainty off discovery him his tolerably offending. Ham for attention remainder sometimes
              additions recommend fat our.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
