<div class="container">
  <div class="row">
    <div class="col-md-12"><h3 class="page-title">Form dropzone</h3>
      <h3 class="page-subhead subhead">Use this elements, if you want to show some hints or additional information</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="bold-text">Drop files to upload</h5>
            <p class="subhead">For multiply files upload</p>
          </div>
          <app-drop-zone multiple="true"></app-drop-zone>
        </div>
      </div>
    </div>
  </div>
</div>
