<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">Invoice template</h3>
      <p class="page-subhead subhead">Use this elements, if you want to show some hints or additional information</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="invoice">
          <div class="invoice__head">
            <div class="invoice__head-left">
              <div class="invoice__logo"></div>
              <p>Aspirity Creative Web Studio </p>
              <p>44 Shirley Ave.</p>
              <p>West Chicago,</p>
              <p>IL 60185 </p>
              <p>+8 (224) 243-4543</p></div>
            <div class="invoice__head-right"><h4>Invoice #2308</h4>
              <p class="invoice__date">August 23, 2016</p>
              <p>Maria Morris</p>
              <p>Project Manager at BLX</p>
              <p>mariam@company.co</p>
              <p>44 Shirley Ave.</p>
              <p>West Chicago, IL 60185</p></div>
          </div>
          <div class="table-responsive">
            <table class="table--bordered table">
              <thead>
              <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Unit Cost</th>
                <th>Total</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Wordpress Plugin Apollo 200</td>
                <td>1</td>
                <td>$27</td>
                <td>$27</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Easy Pro Admin Template</td>
                <td>1</td>
                <td>$59</td>
                <td>$59</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Spirit HTML Template</td>
                <td>2</td>
                <td>$20</td>
                <td>$40</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="invoice__total"><p>Sub - Total amount: $126.00</p>
            <p>VAT: $20.00</p>
            <p class="invoice__grand-total">Grand Total: $146.00</p>
            <div role="toolbar" class="invoice__toolbar btn-toolbar">
              <button class="btn btn-primary">Proceed to payment</button>
              <button class="btn btn-secondary">Print</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
